{% extends 'users/base.html' %}

{% block style %}
    <style>
        h1 {
            text-align: center;
        }
        a {
            display: inline-block;
            background: #313030;
            color: #FFF;
            border: 0;
            border-radius: 4px;
            text-align: center;
            padding: 20px 30px;
            line-height: 1;
            text-decoration: none;
        }
        a:hover {
          background: #c7c5c5;
          color: #313030;
        }
        .a2 {
            margin-left: 1em;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            border: 3px solid #313030;
        }
    </style>
{% endblock style %}

{% block content %}
    <br>
    {% if user.is_authenticated %}
        <div class="alert alert-success" role="alert">
            <h1>Welcome {{ user.username }}!</h1>
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            <h1>Welcome to Authentication System!</h1>
        </div>
    {% endif %}
    <br>
    <div class="center">
        {% if user.is_authenticated %}
            <a class="a2" href="{% url 'logout' %} ">Logout</a>
        {% else %}
            <a class="a1" href="{% url  'signup' %}">Sign Up</a>
            <a class="a2" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
{% endblock content %}