{% extends 'users/base.html' %}

{% block content %}
    <br>
    <div class="alert alert-success" role="alert">
        <h3 style="text-align: center;">Sign Up</h3>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
{% endblock content%}